apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "net4255.fullname" . }}-redis
  labels:
    {{- include "net4255.labels" . | nindent 4 }}
    app: {{ include "net4255.fullname" . }}-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "net4255.fullname" . }}-redis
  template:
    metadata:
      labels:
        app: {{ include "net4255.fullname" . }}-redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "100m"
            memory: "128Mi"
